body {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0px 15px;
}
.header__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 75px;
}
.button{
    display: none;
}
.logo__img {
    display: block;
}
.img__outside {
    width: 21px;
    height: 21px;
    border: 10px solid #1abe84;
    border-radius: 50%;
    position: relative;
}

.img__inside {
    width: 15px;
    height: 15px;
    background-color: #fb8f1d;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

.header__nav a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #b8becd;
    font-size: 16px;
    margin-left: 33px;
    font-weight: 400;
    display: inline-block;
}

.header__nav a:last-child {
    margin-left: 17px;
}
.header__nav a:hover {
    color: #202336;
    text-shadow: 0 0 0.65px;
    transition: 0.3s;
}

.header__login span {
    display: inline-block;
    width: 132px;
    text-align: center;
    background-color: #fb8f1d;
    color: #fff;
    border: 1px solid #fb8f1d;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 500;
}
.header__login span:hover {
    color: #fb8f1d;
    background-color: #fff;
    transition: 0.3s;
}

.destination__wrapper {
    max-width: 1415px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 50px;
}

/* section 1 */

.destination__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    max-width: 356px;
    margin-bottom: 74px;
}
.destination__finder {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.destination__finder::after {
    content: "";
    height: 2px;
    width: 32px;
    background-color: #202336;
    position: absolute;
    left: 0;
    bottom: 0;
}

.destination__form {
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.destination__form select {
    width: 220px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #4a4c53;
    padding: 12px 0 12px 30px;
    margin-bottom: 35px;
    border: 1px solid #afb0b9;
    border-radius: 7px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/shevron.svg);
    background-repeat: no-repeat;
    background-position: right+20px center;
}

.destination__button button,
.balloons__button button,
.guide__button button {
    width: 180px;
    background-color: #fb8f1d;
    border: 1px solid #fb8f1d;
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
}
.balloons__button button,
.guide__button button {
    width: 160px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 0;
}

.destination__button button:hover,
.balloons__button button:hover,
.guide__button button:hover {
    color: #fb8f1d;
    background-color: #fff;
    transition: 0.3s;
}

.balloons__wrapper {
    max-width: 1415px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 200px;
}

.balloons__box {
    align-self: center;
    max-width: 440px;
}
.balloons__title,
.guide__title {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #000000;
    margin-bottom: 35px;
}
.balloons__text,
.guide__text {
    color: #7d7987;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    font-family: "Mulish", sans-serif;
    margin-bottom: 40px;
}
.wrapper {
    max-width: 1150px;
    margin: 250px auto 0;
}
.cities__features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.cities__title,
.trends__title {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}
.cities__viewall a,
.trends__viewall a {
    text-decoration: none;
    color: #fb8f1d;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}
.cities__viewall a:hover,
.trends__viewall a:hover{
    text-decoration: underline;
}
.cities__viewall span,
.trends__viewall span {
    margin-left: 10px;
    color: #fb8f1d;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.cities__box {
    display: flex;
    justify-content: space-between;
}
.cities__content {
    position: relative;
}

.cities__img img {
    border-radius: 9px 9px 9px 0;
}
.cities__place {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    background-color: #fff;
    border-radius: 0 7px 0 0;
    padding-top: 10px;
    color: #042521;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
}

.cities__place span {
    color: #80918e;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.guide__container {
    display: flex;
    justify-content: space-between;
}
.guide__box {
    max-width: 420px;
    align-self: center;
}
.guide__title {
    margin-bottom: 30px;
}
.guide__text {
    margin-bottom: 40px;
}

.reviews__title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 60px;
}

.reviews__slide {
    display: flex;
    justify-content: space-between;
}

.reviews__box {
    max-width: 450px;
    align-self: center;
}

.reviews__stars {
    margin-left: -8px;
    margin-bottom: 40px;
}

.reviews__stars img {
    margin-left: 8px;
}

.reviews__comment {
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    margin-bottom: 45px;
}

.reviwes__name {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
}

.reviews__work {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.85);
}
.reviews__img {
    position: relative;
    margin-right: 80px;
}

.reviews__img img {
    border-radius: 15px;
}

.div__slided {
    display: block;
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 130px;
    height: 60px;
    background-color: #fff;
    border-radius: 17px 0 0 0;
}

.swiper-button-next {
    margin-right: 15px;
}

.swiper-button-next,
.swiper-button-prev {
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #000;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.swiper-button-next {
    margin-top: -13px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 23px;
    top: 39px;
    right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: -10px;
    left: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.trends__head {
    display: flex;
    justify-content: space-between;
}

.trends__box-element {
    max-width: 261px;
}

.trends__box {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    font-family: "Inter", sans-serif;
}

.trends__box-img {
    height: 230px;
    overflow: hidden;
}
.trends__box-img img {
    border-radius: 12px 12px 0 0;
}
.trends__box-suptitle {
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 20px;
}
.trends__box-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #7d7987;
    margin-top: 20px;
}

.trends__box-more{
    margin-top: 25px;
}

.trends__box-more a {
    text-decoration: none;
    color: #fb8f1d;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
}

.trends__box-more a:hover{
    text-decoration: underline;
}

.footer{
    margin-top: 250px;
    background-color: #F9F9FB;
}

.footer .container{
    background-color: #F9F9FB;
}

.footer__wrapper {
    max-width: 1230px;
    margin: 0 auto;
}
.footer__inner {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: 1px solid #c4c4c4;
}

.footer__about{
    width: 40%;
}

.footer__about-text{
    max-width: 300px;
    margin-top: 28px;
}
.footer__about-text,
.footer__about-year {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #848484;
}
.footer__about-year {
    max-width: 338px;
    font-size: 17px;
    margin-top: 65px;
}
.footer__box {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer__subtitle {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
}
.footer__links a{
    display: block;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}
.footer__links a:hover{
text-decoration: underline;
}

.footer__contacts {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}
.footer__contacts-img {
    margin-left: 30px;
    align-self: center;
}