body {
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}
.header__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 75px;
}
.logo__img {
    display: block;
}
.img__outside {
    width: 21px;
    height: 21px;
    border: 10px solid #1abe84;
    border-radius: 50%;
    position: relative;
}

.img__inside {
    width: 15px;
    height: 15px;
    background-color: #fb8f1d;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}
.header__nav a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #b8becd;
    font-size: 16px;
    margin-left: 33px;
    font-weight: 400;
}
.header__nav a:last-child {
    margin-left: 17px;
}
.header__nav a:hover {
    color: #202336;
    font-weight: 500;
}

.header__login span {
    display: inline-block;
    width: 132px;
    text-align: center;
    background-color: #fb8f1d;
    color: #fff;
    border: 1px solid #fb8f1d;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 500;
}
.header__login span:hover {
    color: #fb8f1d;
    background-color: #fff;
}

.destination__wrapper {
    max-width: 1415px;
    display: flex;
    justify-content: space-between;
    margin-left: 118px;
}

/* section 1 */

.destination__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    max-width: 356px;
    margin-bottom: 74px;
}
.destination__finder {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.destination__finder::after{
    content: "";
    height: 2px;
    width: 32px;
    background-color: #202336;
    position: absolute;
    left: 0;
    bottom: 0;
}

.destination__form{
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.destination__form select{
    width: 220px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #4A4C53;
    padding: 12px 0 12px 30px;
    margin-bottom: 35px;
    border: 1px solid #AFB0B9;
    border-radius: 7px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/shevron.svg);
    background-repeat: no-repeat;
    background-position: right+20px center;
}

.destination__button button{
    width: 180px;
    background-color: #fb8f1d;
    border: 1px solid #fb8f1d;
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    margin-top: 15px;
    outline: none;
}

.destination__button button:active{
    color: #fb8f1d;
    background-color: #fff;
}